<div class="lrn-header-9-top">
    <div class="container">
        <div class="lrn-header-9-top-content">
            <div class="d-flex align-items-center gap-2">
                <img src="assets/images/header/check-badge.svg" alt="Check Badge">
                <span>New Enrollments for UX/UI Design Mastery Course Open!</span>
            </div>
            <span class="offer">20% off</span>
        </div>
    </div>
</div>
<header class="lrn-header bg-color-dark-100 header-sticky">
    <div class="container-fluid plr_mobile--15 plr--30 plr_sm--15 plr_md--25 plr_lg--25">
        <div class="d-flex justify-content-between align-items-center ptb_lg--15 ptb_md--15 ptb_sm--15">
            <div class="d-flex align-items-center gap-3">
                <a class="header-logo d-inline-block" href="index.html">
                    <img class="img-fluid" src="assets/images/logo/logo.webp" alt="Learnhub Logo">
                </a>
            </div>

            <div class="lrn-main-navigation d-none d-xl-flex">
                @@include('header/nav.html')
            </div>
            <div class="d-flex align-items-center gap-lg-5 gap-3 gap-md-4">
                <div class="hamberger d-xl-none">
                    <button class="btn hamberger-button hamberger-button-circle v2">
                        <i class="fa-regular fa-bars color-secondary-100"></i>
                    </button>
                </div>
                <a href="https://themeforest.net/user/rainbow-themes" target="_blank" class="lrn-btn-primary header-btn remove-drop btn-sm btn-rounded">
                    <div class="btn-text-wrap">
                        <span class="btn-text"><i class="fa-regular fa-cart-shopping mr--5"></i> <span class="only-text">Get Learnhub Template</span></span>
                        <span class="btn-text"><i class="fa-regular fa-cart-shopping mr--5"></i> <span class="only-text">Get Learnhub Template</span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>