<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner-wrapper">
        <div class="inner-top">
            <div class="content">
                <div class="logo">
                    <a class="d-inline-block" href="index.html">
                        <img class="w-75 img-fluid" src="assets/images/logo/logo.webp" alt="Learnhub Home">
                    </a>
                </div>
                <div class="lrn-btn-close">
                    <button class="close-button lrn-round-btn"><i class="fa-regular fa-xmark"></i></button>
                </div>
            </div>
            <p class="description">Learnhub is a education website template. You can customize all.</p>
        </div>

        <nav class="mainmenu-nav">
            <ul class="mainmenu">
                <li class="with-megamenu has-menu-child-item position-static">
                    <a href="#" class="">Home </a>
                    <!-- Start Mega Menu  -->
                    <div class="lrn-megamenu menu-skin-dark">
                        <div class="wrapper">
                            <div class="row row--15 home-plesentation-wrapper single-dropdown-menu-presentation">

                                <!-- Start Single Demo  -->
                                <div class="col-12">
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="title mb-0https://lernhub-nu.vercel.app/">
                                                    Home Default
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/university.html">
                                                    University
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/university-2.html">
                                                    University Two
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/online-learning.html">
                                                    Online Learning
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/online-course.html">
                                                    Online Course
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/private-teacher.html">
                                                    Private Teacher
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/design-course.html">
                                                    Design Course
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/online-course-2.html">
                                                    Online Course Two
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/online-coaching.html">
                                                    Online Coaching
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="content">
                                            <span class="title mb-0">
                                                <a href="https://lernhub-nu.vercel.app/online-education.html">
                                                    Online Education
                                                    <span class="btn-icon">
                                                        <i class="fa-regular fa-arrow-right"></i>
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Demo  -->
                            </div>
                        </div>
                    </div>
                    <!-- End Mega Menu  -->
                </li>

                <li class="with-megamenu has-menu-childitem">
                    <a href="#">Courses</a>
                    <div class="lrn-megamenu grid-item-4">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">Course Layouts</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/course-filter-one-toggle.html">Filter One Toggle</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-filter-one-open.html">Filter One Open</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-filter-two-toggle.html">Filter Two Toggle</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-filter-two-open.html">Filter Two Open</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-with-tab.html">Course With Tab</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-masonry.html">Course Masonry</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/course-with-sidebar.html">Course With Sidebar</a></li>
                                    </ul>
                                </div>

                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">Course Pages</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/course-details.html">Course Details</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/lesson.html">Course Lessons</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/create-course.html">Create Course</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="has-dropdown has-menu-childitem">
                    <a href="#">
                        Dashboard
                    </a>
                    <div class="lrn-megamenu grid-item-4">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">Instructor Dashboard</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-dashboard.html">Dashboard</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-profile.html">Profile</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-enrolled-courses.html">Enrolled Courses</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-wishlist.html">Wishlist</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-reviews.html">Reviews</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-order-history.html">Order History</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-course.html">My Course</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-announcements.html">Announcements</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-quiz-attempts.html">Quiz Attempts</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-assignments.html">Assignments</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor-settings.html">Settings</a></li>
                                    </ul>
                                </div>

                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">Student Dashboard</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/student-dashboard.html">Dashboard</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-profile.html">Profile</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-enrolled-courses.html">Enrolled Courses</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-wishlist.html">Wishlist</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-reviews.html">Reviews</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-my-quiz-attempts.html">My Quiz Attempts</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-order-history.html">Order History</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/student-settings.html">Settings</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="with-megamenu has-menu-child-item position-static">
                    <a href="#" class="">Pages</a>
                    <div class="lrn-megamenu grid-item-4">
                        <div class="wrapper">
                            <div class="row">
                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">You Discover</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/about-us-01.html">About Us</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/event-grid.html">Event Grid</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/event-list.html">Event List</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/event-sidebar.html">Event sidebar</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/event-details.html">Event Details</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/#">Academy Gallery <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/admission-guide.html">Admission Guide</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/contactus.html">Contact Us</a></li>
                                    </ul>
                                </div>

                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">You Discover</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/blog-list.html">Blog List</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/blog-grid.html">Blog Grid</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/blog-details.html">Blog Details</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/profile.html">Profile</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/become-a-teacher.html">Become a Teacher</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/privacy-policy.html">Privacy Policy</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/404.html">404 page</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/maintenance.html">Maintenance</a></li>
                                    </ul>
                                </div>

                                <div class="col-xl-12 single-mega-item mt--15">
                                    <span class="lrn-text-secondary-200 mb-10 fs--14 h5">Shop Pages</span>
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/shop.html">Shop</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/single-product.html">Single Product</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/cart.html">Cart Page</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/checkout.html">Checkout</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/wishlist.html">Wishlist Page</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/signin.html">Sign In</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/signup.html">Sign Up</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/subscription.html">Subscription</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="with-megamenu has-menu-child-item position-static">
                    <a href="#" class="">Elements</a>
                    <div class="lrn-megamenu menu-skin-dark">
                        <div class="wrapper">
                            <div class="row single-dropdown-menu-presentation">
                                <div class="single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/style-guide.html">Style Guide</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/accordion.html">Accordion</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/#">Advance Tab <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/about.html">About</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/brand.html">Brand</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/button.html">Button</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/badge.html">Badge</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/card.html">Card</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/cta.html">Call To Action</a></li>
                                    </ul>
                                </div>

                                <div class="single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/counter.html">Counter</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/countdown.html">Countdown</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/category.html">Categories</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/header.html">Header Style</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/newsletter.html">Newsletter</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/instructor.html">Instructor</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/social.html">Social</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/testimonial.html">Testimonial</a></li>
                                        <li><a href="https://lernhub-nu.vercel.app/service.html">Service</a></li>
                                    </ul>
                                </div>

                                <div class="single-mega-item">
                                    <ul class="mega-menu-item">
                                        <li><a href="https://lernhub-nu.vercel.app/search.html">Search Style</a></li>
                                        <li><a href="#">Gallery <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="#">Pricing <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="#">Progressbar <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="#">List Style <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="#">Instagram Style <span class="lrn-badge-card">Coming</span></a></li>
                                        <li><a href="#">& More Coming</a></li>
                                    </ul>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="mobile-menu-bottom">

            <span class="social-label">Follow Us</span>
            <div class="social-share-wrapper mt--25">
                <ul class="d-flex justify-content-center p-0 flex-wrap gap-3 lrn-social-link mb--30">
                    <li>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
