<nav class="lrn-mainmenu-nav">
    <ul class="d-flex align-items-center lrn-menu-item">

        <li class="with-megamenu has-menu-child-item">
            <a class="lrn-menu-link" href="#">Home<i class="fa-solid fa-chevron-down pl--5"></i></a>
            <div class="lrn-megamenu">
                <div class="lrn-home-menu-wrapper">

                    <div class="glow"></div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/">
                            <img src="assets/images/header/home.webp" alt="Home">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Home Default</span>
                            <a href="https://lernhub-nu.vercel.app/" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/university.html">
                            <img src="assets/images/header/university.webp" alt="University">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">University</span>
                            <a href="https://lernhub-nu.vercel.app/university.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/university-2.html">
                            <img src="assets/images/header/university-2.webp" alt="University Two">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">University Two</span>
                            <a href="https://lernhub-nu.vercel.app/university-2.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>


                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/online-learning.html">
                            <img src="assets/images/header/online-learning.webp" alt="Online Learning">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Online Learning</span>
                            <a href="https://lernhub-nu.vercel.app/online-learning.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/online-course.html">
                            <img src="assets/images/header/online-course.webp" alt="Online Course">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Online Course</span>
                            <a href="https://lernhub-nu.vercel.app/online-course.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/private-teacher.html">
                            <img src="assets/images/header/private-teacher.webp" alt="Private Teacher">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Private Teacher</span>
                            <a href="https://lernhub-nu.vercel.app/private-teacher.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/design-course.html">
                            <img src="assets/images/header/design-course.webp" alt="Design Course">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Design Course</span>
                            <a href="https://lernhub-nu.vercel.app/design-course.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/online-course-2.html">
                            <img src="assets/images/header/online-course-2.webp" alt="Online Course Two">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Online Course Two</span>
                            <a href="https://lernhub-nu.vercel.app/online-course-2.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/online-coaching.html">
                            <img src="assets/images/header/coaching.webp" alt="Online Coaching">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Online Coaching</span>
                            <a href="https://lernhub-nu.vercel.app/online-coaching.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item">
                        <a href="https://lernhub-nu.vercel.app/online-education.html">
                            <img src="assets/images/header/online-education.webp" alt="Online Education">
                        </a>
                        <div class="content">
                            <span class="menu-item-title">Online Education</span>
                            <a href="https://lernhub-nu.vercel.app/online-education.html" class="lrn-btn-info">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                    <span class="btn-text">View Full Page <i class="fa-regular fa-arrow-right ml--5"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item-comming">
                        <img class="round-shape" src="assets/images/header/round-shape.png" alt="Shape">
                        <img class="spinner" src="assets/images/header/spinner.png" alt="">
                        <div class="content">
                            <span class="menu-item-title">Coming Soon!</span>
                        </div>
                    </div>

                    <!-- item -->
                    <div class="menu-item-comming">
                        <img class="round-shape" src="assets/images/header/round-shape.png" alt="Shape">
                        <img class="spinner" src="assets/images/header/spinner.png" alt="">
                        <div class="content">
                            <span class="menu-item-title">Coming Soon!</span>
                        </div>
                    </div>

                </div>
            </div>
        </li>


        <li class="with-megamenu has-menu-child-item">
            <a class="lrn-menu-link" href="#">Courses <i class="fa-solid fa-chevron-down pl--5"></i></a>
            <div class="lrn-megamenu common">
                <div class="lrn-common-menu-wrapper">
                    <div class="lrn-mega-menu-item">
                        <div class="head">
                            <span class="title">Course Layouts</span>
                            <span class="title">Course Pages</span>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-filter-one-toggle.html">
                                        <span>Filter One Toggle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-filter-one-open.html">
                                        <span>Filter One Open</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-filter-two-toggle.html">
                                        <span>Filter Two Toggle</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-filter-two-open.html">
                                        <span>Filter Two Open</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-with-tab.html">
                                        <span>Course With Tab</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-masonry.html">
                                        <span>Course Masonry</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-with-sidebar.html">
                                        <span>Course With Sidebar</span>
                                    </a>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/course-details.html">
                                        <span>Course Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/lesson.html">
                                        <span>Course Lessons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/create-course.html">
                                        <span>Create Course</span>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                    </div>
                </div>
            </div>
        </li>

        <li class="with-megamenu has-menu-child-item">
            <a class="lrn-menu-link" href="#">Dashboard <i class="fa-solid fa-chevron-down pl--5"></i></a>
            <div class="lrn-megamenu common">
                <div class="lrn-common-menu-wrapper">
                    <div class="lrn-mega-menu-item">
                        <div class="head">
                            <span class="title">Instructor Dashboard</span>
                            <span class="title">Student Dashboard</span>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-dashboard.html">
                                    <span>Dashboard</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-profile.html">
                                    <span>Profile</span>
                                </a></li>
                                    <li><a href="https://lernhub-nu.vercel.app/instructor-enrolled-courses.html">
                                    <span>Enrolled Courses</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-wishlist.html">
                                    <span>Wishlist</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-reviews.html">
                                    <span>Reviews</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-my-quiz-attempts.html">
                                    <span>My Quiz Attempts</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-order-history.html">
                                    <span>Order History</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-course.html">
                                    <span>My Course</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-announcements.html">
                                    <span>Announcements</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-quiz-attempts.html">
                                    <span>Quiz Attempts</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-assignments.html">
                                    <span>Assignments</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/instructor-settings.html">
                                    <span>Settings</span>
                                </a></li>
                            </ul>

                            <ul>
                                
                                <li><a href="https://lernhub-nu.vercel.app/student-dashboard.html">
                                    <span>Dashboard</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-profile.html">
                                    <span>Profile</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-enrolled-courses.html">
                                    <span>Enrolled Courses</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-wishlist.html">
                                    <span>Wishlist</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-reviews.html">
                                    <span>Reviews</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-my-quiz-attempts.html">
                                    <span>My Quiz Attempts</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-order-history.html">
                                    <span>Order History</span>
                                </a></li>
                                <li><a href="https://lernhub-nu.vercel.app/student-settings.html">
                                    <span>Settings</span>
                                </a></li>
                            </ul>

                        </div> 
                    </div>
                </div>
            </div>
        </li>

        <li class="with-megamenu has-menu-child-item">
            <a class="lrn-menu-link" href="#">Elements <i class="fa-solid fa-chevron-down pl--5"></i></a>
            <div class="lrn-megamenu elements">
                <div class="lrn-elements-menu-wrapper">

                    <div class="lrn-mega-menu-item">
                        <div class="head">
                            <span class="title">Your Needed</span>
                        </div>
                        <div class="menu-list grid-3-column">
                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/style-guide.html">
                                        <span>Style Guide</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/accordion.html">
                                        <span>Accordion</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/#">
                                        <span>Advance Tab</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/about.html">
                                        <span>About</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/brand.html">
                                        <span>Brand</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/button.html">
                                        <span>Button</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/badge.html">
                                        <span>Badge</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/card.html">
                                        <span>Card</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/cta.html">
                                        <span>Call To Action</span>
                                    </a>
                                </li>
                            </ul>

                            <ul>
                                
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/counter.html">
                                        <span>Counter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/countdown.html">
                                        <span>Countdown</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/category.html">
                                        <span>Categories</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/header.html">
                                        <span>Header Style</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/newsletter.html">
                                        <span>Newsletter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/instructor.html">
                                        <span>Instructor</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/social.html">
                                        <span>Social</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/testimonial.html">
                                        <span>Testimonial</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/service.html">
                                        <span>Service</span>
                                    </a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/search.html">
                                        <span>Search Style</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Gallery</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>

                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Pricing</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Progressbar</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>List Style</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Instagram Style</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>& More Coming</span>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                    </div>
                    <div class="mt--10">
                        <a href="https://themeforest.net/item/unimart-multipurpose-woocommerce-wordpress-theme/63756550" target="_blank">
                            <img class="w-100" src="assets/images/header/ad-banner.png" alt="Elements Menu Ad">
                        </a>
                    </div>

                </div>
            </div>
        </li>

        <li class="with-megamenu has-menu-child-item">
            <a class="lrn-menu-link" href="#">Pages <i class="fa-solid fa-chevron-down pl--5"></i>
            </a>
            <div class="lrn-megamenu">

                <div class="lrn-page-menu-wrapper">
                    <div class="glow"></div>

                    <div class="lrn-mega-menu-item">
                        <div class="head">
                            <span class="title">You Discover</span>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/about-us-01.html">
                                        <span>About Us</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/event-grid.html">
                                        <span>Event Grid</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/event-list.html">
                                        <span>Event List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/event-sidebar.html">
                                        <span>Event sidebar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/event-details.html">
                                        <span>Event Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Academy Gallery</span>
                                        <div class="lrn-badge-4 ml--10">
                                            <span>Coming</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/admission-guide.html">
                                        <span>Admission Guide</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/contactus.html">
                                        <span>Contact Us</span>
                                    </a>
                                </li>
                            </ul>

                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/blog-list.html">
                                        <span>Blog List</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/blog-grid.html">
                                        <span>Blog Grid</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/blog-details.html">
                                        <span>Blog Details</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/profile.html">
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/become-a-teacher.html">
                                        <span>Become a Teacher</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/privacy-policy.html">
                                        <span>Privacy Policy</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/404.html">
                                        <span>404 page</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/maintenance.html">
                                        <span>Maintenance</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="lrn-mega-menu-item">
                        <div class="head">
                            <span class="title">Shop Pages</span>
                        </div>
                        <div class="menu-list">
                            <ul>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/shop.html">
                                        <span>Shop</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/single-product.html">
                                        <span>Single Product</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/cart.html">
                                        <span>Cart Page</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/checkout.html">
                                        <span>Checkout</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/wishlist.html">
                                        <span>Wishlist Page</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/signin.html">
                                        <span>Sign In</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/signup.html">
                                        <span>Sign Up</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://lernhub-nu.vercel.app/subscription.html">
                                        <span>Subscription</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="lrn-mega-menu-ad">
                        <div class="glow"></div>
                        <span class="title">450+ Free Online Courses!</span>
                        <img src="assets/images/header/ad.png" alt="Ad">
                        <div class="d-flex justify-content-center">
                            <a href="#" class="lrn-btn-primary remove-drop btn-sm btn-rounded">
                                <div class="btn-text-wrap">
                                    <span class="btn-text">Join Now</span>
                                    <span class="btn-text">Join Now</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>